<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buscar Produtos por Nome</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Buscar Produtos por Nome</h1>

<p th:if="${mensagem} != null" th:text="${mensagem}"></p>

<table th:if="${produtos} != null">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="produto : ${produtos}">
    <td th:text="${produto.id}"></td>
    <td th:text="${produto.nome}"></td>
    <td th:text="${produto.descricao}"></td>
    <td th:text="${produto.preco}"></td>
  </tr>
  </tbody>
</table>

<form method="get" action="/buscarPorNome">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required>
  <button type="submit">Buscar</button>
</form>

<div class="index">
  <div class="col-sm-12">
    <button><a th:href="@{/novo}" class="btn btn-success btn-lg">Cadastrar Novo Produto</a></button>
    <button><a th:href="@{/}" class="btn btn-success btn-lg">Home</a></button>

  </div>
</div>

</body>
</html>
